
/* Free guide form styles */

#formGuideContainer {
  background-color: #3e85cf;
  padding: 25px;
  max-width: 400px;
  min-height: 140px;
  margin-bottom: 10%;
  margin-top: -10%;
  position: relative;
  z-index: 10;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field input {
  padding: 5px;
  max-width: 200px;
  flex: 1 1 auto;
}

.fieldSubmit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  color: #ccc;
  width: 50%;
}

.submit {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #ff8f00;
  color: white;
  border: none;
  font-size: 14px;
}


/* Contact us form styles */


.contact-field {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.radio input,
label {
  margin-bottom: 10px;
}

input {
  padding: 7px 5px;
  width: 50%;
  font-size: 16px;
}

textarea {
  width: 50%;
  font-size: 16px;
}

input[type="select" i] {
  height: 37px;
}

.select {
  width: 50%;
}

input[type="radio"] {
  width: 2em;
}

.radio {
  display: flex;
}

label {
  color: #ccc;
}
#referredMethod {
  height: 30px;
  width: 100%;
}

.submit {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #ff8f00;
  color: white;
  border: none;
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (max-width: 425px) {
  .contact-field, .field, #formGuideContainer {
    display: block;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 0;
  }
  .select {
    width: 100%;
    margin-top: 10px;
  }

  input {
    width: 100%;
    margin-top: 10px;
  }

  textarea {
    min-width: 250px;
    margin-top: 10px;
  }

  #referredMethod {
    width: 100%;
  }

  .radio, .select {
    display: flex;
    width: 60%;
  }
  input[type="radio"] {
    width: 15px;
  }
  #formGuideContainer {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hidden {
    display: none;
  }

  .fieldSubmit {
    display: block;
    padding-left: 5px;
    margin-top: 10px;
  }
}